@import url('https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&family=Rammetto+One&display=swap');
@import 'tailwindcss';
@layer base {
    h1 
    {
        @apply text-3xl font-bold;
    }
    h2 {
        @apply text-2xl font-bold my-8;
    }

}
@theme{
    --color-green: #21897E;
    --color-white: #E0E2DB;
}

@layer utilities {
  .font-titre {
    font-family: var(--font-titre);
    font-size: 6rem;
    color: #21897E;
  }

  .font-soustitre {
    font-family: var(--font-soustitre);
    font-size: 2.5rem;
    color: black;
  }
  .couleur-vert{
    color: #21897E;
  }
}
:root{
    --font-soustitre:"Parkinsans", sans-serif;
    --font-titre:"Rammetto One", sans-serif;
}