@import url('https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&family=Rammetto+One&display=swap');
@import 'tailwindcss';
@layer base {
    h1 
    {
        @apply text-3xl font-bold;
    }
    h2 {
        @apply text-2xl font-bold my-8;
    }

}
@theme{
    --color-green: #21897E;
    --color-white: #E0E2DB;
}

@layer utilities {
  .font-titre {
    font-family: var(--font-titre);
    color: #21897E;
  }

  .font-soustitre {
    font-family: var(--font-soustitre);
    color: black;
  }
  .couleur-vert{
    color: #21897E;
  }
  .couleur-blanc{
    color: #E0E2DB;
  }
  .bg-vert{
    background-color: #21897E;
  }
  .bg-blanc{
    background-color: #E0E2DB;
  }

  .bord-vert{
    border-color: #21897E;
  }
  .bord-blanc{
    border-color: #E0E2DB;
  }

}
:root{
    --font-soustitre:"Parkinsans", sans-serif;
    --font-titre:"Rammetto One", sans-serif;
}

.marquee-container {
    mask-image: linear-gradient(
        to right,
        transparent,
        black 8%,
        black 92%,
        transparent
    );
}

.marquee-track {
    display: flex;
    width: max-content;
    animation: marquee-scroll 45s linear infinite;
}

.marquee-track:hover {
    animation-play-state: paused;
}

@keyframes marquee-scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}